<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Dave Doria's Resume</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>

    <div id="page-wrap">
    
        <!-- <img src="images/cthulu.png" alt="Photo of Cthulu" id="pic" /> -->
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">David Doria</h1>
        
            <p>
                Cell: <span class="tel">408-667-1983</span><br />
                Email: <a class="email" href="mailto:dave.doria@gmail.com">dave.doria@gmail.com</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an energetic professional seeking a career in software engineering/web development 
				that fits my professional skills and personality.
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
           
            <dd class="clear"></dd>
            
            <dt>Technical Skills</dt>
            <dd>
                <h2>Software / Languages</h2>
                <p>Java, C, C++, C#, Python, Eclipse</p>			
                
				<h2>Internet/Web</h2>
                <p>JSP, JavaScript, jQuery, PHP, Coldfusion, Apache, Resin, Tomcat, HTML, XML</p>
				
				<h2>Operating Systems</h2>
                <p>UNIX/Linux, Windows, Mac OSX</p>
                
				<h2>Relational Databases</h2>
                <p>Oracle 11g, Derby, MySQL, SQLite</p>
				
				<h2>Additional</h2>
                <p>Object-oriented Programming, JUnit, Maven</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
				<h2>InfoIMAGE <span>Web Applications Engineer - Menlo Park, CA - 2012-2013</span></h2>
                <ul>
                    <li>Enhanced and maintained client websites using Java, JSP, HTML, JavaScript, 
					   jQuery and CSS and automated the processing of custom client files via UNIX/Perl scripts</li>
                    <li>Improved performance of processes through the use of coding best practices and updating of legacy code</li>
                    <li>Created client demo site which is used by the Sales team to attract new clientele</li>
                </ul>
				
                <h2>GamePro <span>Web Developer - San Francisco, CA - 2012–2013</span></h2>
                <ul>
                    <li>Made updates to the site with version controls through the development to live stages using XAMPP, Syncro SVN, Trac, HTML, ColdFusion and JavaScript</li>
                    <li>Helped improve site traffic through search engine optimizations and building of sitemaps</li>
                    <li>Did quality assurance testing and worked back-end database ensuring product data integrity</li>
                </ul> 
				
				<h2>GXS <span>Senior Technical Support Representative - Emeryville, CA - 2005-2010</span></h2>
                <ul>
                    <li>Supported Inovis/GXS products such as Inovisworks EDI, Web Forms, Catalogue 4.X, Inovis/GXS Vendor Portal </li>
                    <li>Implemented support procedures which increased customer satisfaction by 21%</li>
                </ul>
				
				<h2>Kaiser <span>IT Specialist - Vallejo, CA - 2005</span></h2>
                <ul>
                    <li>Built, tested, deployed and supported 250+ Windows 2K workstations at Kaiser hospital </li>
                    <li>Worked on a team that employed the Dell/BlueCurrent infrastructure</li>
                    <li>Employed various methodologies such as hardware imaging and remote troubleshooting</li>
                </ul>
            </dd>
            
            <dd class="clear"></dd>

            <dt>Projects</dt>
            <dd>
				<h2>GamePro <span>Web Data Scraper</span></h2>
                <ul>
                    <li>Designed, coded  and tested a Java-based, multi-threaded web crawler that scrapes key data from websites that is used to update internal databases</li>
                    <li>Implemented Java network API’s, regular expression, JDBC API and threads</li>
                </ul>
				
                <h2>Diablo Valley College Bits N Bytes Club<span>MyTwitter Android Project</span></h2>
                <ul>
                    <li>Coded and tested through Java, Eclipse, the Twitter API and Android SDK </li>
                    <li>Implemented SQLite database for data persistence</li>
                    <li>Employed Android functions such as multithreading, preferences, menus and content providers</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
			
            <dt>Education</dt>
            <dd>
                <h2>San Jose State University</h2>
                <p><strong>Major: </strong>BS Computer Science<br /></p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>